#mid{
    display:flex;
    flex-direction:column;
    row-gap:2rem;
  
}
.middark{
    background-color: black;
}
 .midlight{
    background-color: #F6F8FF;
}
@media only screen and (min-width:344px) and (max-width:600px){
    #mid{
        width:90%;
    }
}
@media only screen and (min-width:712px) and (max-width:801px) {
    #mid{
        width:80%;
        
    }
}