#header{
    width:45.63rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

   
}
#toogle{
    display:flex;
    align-items: center;
  gap:1rem;
justify-content: center;    
width: 7rem;
    height: 2rem;
}

.darkHeader,.darklabel{
    color:#ffffff;
   
}

.lightlabel,
.lightHeader{
    color:#222731  
}
#lab1{
 justify-content: space-between;
 display: flex;
 width:5rem;
    cursor: pointer;
}
 input[type="checkbox"] {
    display: none;
  } 
  @media only screen and (min-width:344px) and (max-width:600px){
    #header{width:90%}
  }
  @media only screen and (min-width:712px) and (max-width:801px) {
    #header{width:80%}
  }